{% extends 'base.html.twig' %}

{% block title %}Formulario básico{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Escribe tus datos máquina!</h1>
    <form action="" method="post">
        <label for="name">Nombre: </label> <br>
        <input type="text"> <br> <br>
        <label for="surname">Apellidos: </label> <br>
        <input type="text"> <br> <br>
        <label for="age">Edad: </label> <br>
        <input type="text"> <br> <br>
        <label for="dni">DNI: </label> <br>
        <input type="text"> <br> <br>
        <input type="submit" value="Enviar">
    </form>
</div>
{% endblock %}
