{% extends 'base.html.twig' %}

{% block title %}Pantalla de éxito{% endblock %}

{% block body %}

    <h1>Bien hecho!</h1>
    <h3>El usuario ha sido agregado a la base de datos </h3>  
{% endblock %}
